<div class="container__contents">
    <section class="splash-content">
        <%= image_tag "https://source.unsplash.com/nI7knd5sQfo/600x400", alt: "Story Image", class: "launch-image" %>
    </section>
</div>

<footer class="nav-content">
  <div class=" button-container">
    <a href="#!" class="button button__confirm">menu</a>
  </div>
</footer>

<!-- W8KTS-mhFUE -->
      <%= link_to new_story_path do %>
      <% end %>


