<div class="container__contents">
    <section class="splash-content">
      <%= link_to new_story_path do %>
        <%= image_tag "https://source.unsplash.com/nI7knd5sQfo/600x400", alt: "Story Image", class: "launch-image" %>
      <% end %>
    </section>
</div>

<footer>
  <div class="button-container">
    <a href="#!" class="button button__confirm">menu</a>
  </div>
</footer>


