@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Roboto:wght@400;700&display=swap');

// COLOURS
$dark-grey: #94A2AB;
$light-grey: #E0E7EC;
$dark-purple: #6D6875;
$purple: #967AA1;
$light-purple: #AA94B3;
$yellow: #FFE95C;
$light-yellow: #FFF3A4;
$blue: #649DFF;
$light-blue: #72A6FF;
$beige: #FFD9C4;
$light-beige: #FFF2EB;
$orange: #F54B23;
$light-orange: #F76E50;
$green: #00CC99;

// COLOUR SETTINGS
$base: $dark-purple;
$text-light: $light-grey;
$text-dark: $dark-grey;
$link: $purple;
$link-hover: $light-purple;
$edit: $beige;
$edit-hover: $light-beige;
$delete: $orange;
$delete-hover: $light-orange;
$confirm: $blue;
$confirm-hover: $light-blue;

// FONT SETTINGS
$header-font: 'Balsamiq Sans', cursive;
$base-font: 'Roboto', sans-serif;
$normal: 400;
$bold: 700;
