// @import 'bootstrap/scss/bootstrap';
@import './reset';
@import './config';
@import './buttons';
@import './stories';
@import './tagging';
@import './cards';


body {
  height: 100vh;
  width: 100vw;
  line-height: 1;
  background-color: $base;
  font-family: $base-font;
  font-weight: $normal;
  color: $text-main;
}

a, a:hover {
  text-decoration: none;
}

a {
  color: $link;
  text-decoration: none;
  &:hover {
    color: $link-hover;
    text-decoration: none;
  }
}

h1, h2, h3 {
  font-family: $header-font;
}

ul {
  list-style-type: none;
}

footer {
  align-self: flex-end;
  height: 3rem;
  width: 100%;
}


.container__full-height {
  height: 100%;
  width: 100%;
  @include flexAndCenter(column);
}

.container__three-quart-height {
  height: 65vh;
}

.container__one-quart-height {
  height: 20vh;
}

.container__contents {
  overflow: auto;
}
