// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// STORY CARD
.story-cards-container {
  width: 100vw;
  padding: 10% 5vw;
  // Define Grid
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  @include tablet(4);
  @include desktop(6);
}

.story-card {
  grid-column: 1fr;
  padding: 5%;
  .story-image {
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
}

// STORY PHOTO

.photo-container {
  background-color: darken($base, 3%);
  border-radius: 4px;
  padding: 0 5vw;
  .story-image {
    width: 65vw;
    height: 60vh;
    object-fit: contain;
    overflow: hidden;
    border-radius: 4px;
  }
}

// STORY DESCRIPTION

.story-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding-top: 10%;
}

// STORY DESCRIPTION -- TITLE

.story-info__title {
  grid-column: 1 / span 3
}

// STORY DESCRIPTION -- TAGS

.story-info__tag-list {
  grid-column: 1 / span 2;
}

// STORY DESCRIPTION -- PRICING

.story-info__price-rating {
  grid-column: 3;
  text-align: center;
}

.price__true {
  color: $yellow;
}

.price__false {
  color: $text-alt;
}

.worth-it__true, .worth-it__false {
  margin: 0.5rem 0;
  padding: 0.1rem 1rem;
  color: $text-alt;
  text-align: center;
  // font-size: 0.6rem
}

.worth-it__true {
  background-color: $light-yellow;;
  color: $text-main;
}

.worth-it__false {
  background-color: $dark-grey;
  text-decoration: line-through;
}

// CAROUSEL

.photo-carousel {
  padding-top: 10%;
  text-align: center;
}

.carousel-nav {}

.js-carousel-btn {
  width: 1rem;
  height: 1rem;
  background-color: rgba(189, 187, 136, 0.7);
  border-radius: 50%;
  margin: 0 5px;
}
